/* 资讯页面 */
#hui-mask{display: none;}
#hui-select-beautify{position: fixed;}
.text-ellsips-2{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;font-size: 14px;}
/* 首页-轮播图*/
.hui-swipe-indicators{transition: all ease-in-out 0.6s;}
.hui-swipe-indicator-active {background: #d8d8d8 !important;width: 16px;}

/* 九宫格 */
.hui-menu-box{margin:10px auto;padding: 0;background-color: #fff;}
.hui-menu-box .hui-speed-dial{padding:10px 0;box-shadow:none;border-radius:0px;}
.hui-speed-dial li{width: 20%;}
.hui-icons-icon1{background-image: url(../images/index_ico1.png)}
.hui-icons-icon2{background-image: url(../images/index_ico2.png)}
.hui-icons-icon3{background-image: url(../images/index_ico3.png)}
.hui-icons-icon4{background-image: url(../images/index_ico4.png)}
.hui-icons-icon5{background-image: url(../images/index_ico5.png)}
.hui-icons-icon6{background-image: url(../images/index_ico6.png)}
.hui-icons-icon7{background-image: url(../images/index_ico7.png)}
.hui-icons-icon8{background-image: url(../images/index_ico8.png)}
.hui-icons-icon9{background-image: url(../images/index_ico9.png)}
.hui-icons-icon10{background-image: url(../images/index_ico10.png)}

/* 倒计时 */
.count-down-box{background-color: #fff;margin: 10px auto;background-color: #fff;height: 63px;text-align: center;padding: 10px;}
.count-down-box p{height: 30px;line-height: 30px;font-weight: bold;color:#454545;}
#count-down{height: 33px;line-height: 33px;color:#666666;}
#count-down span{margin: 0 5px;font-weight: bold;color:#ff0000;}

.panel{margin-bottom: 10px;}
.panel .panel-head,.panel .panel-foot{background-color: #fff;height: 24px;line-height: 24px;overflow: hidden;padding: 10px;text-align: center;}
.panel .panel-head a,.panel .panel-foot a{display: block;color:#666666;font-size: 15px;width: 100%;height: 100%;}
.panel .panel-body{overflow: hidden;margin-top: 10px;}
.panel .panel-body li{position: relative;height: 95px;overflow: hidden;background-color: #fff;box-sizing: border-box;padding: 10px 12px;margin-bottom: 10px;overflow: hidden;}
.panel .panel-body li .pic{position: absolute;width: 125px;height: 75px;}
.panel .panel-body li .pic a{display: block;width: 100%;height: 100%;background-size: cover;background-repeat: no-repeat;}
.panel .panel-body li .content{margin-left: 135px;}
.panel .panel-body li .content a{height: 40px;line-height: 20px;color:#333333;font-weight:400;}
.panel .panel-body li .content p{height: 25px;line-height: 25px;margin-top: 10px;overflow: hidden;}
.panel .panel-body li .content span{color:#999999;font-size: 10px;}
i.hui-view{width: 25px;height: 25px;display: inline-block;vertical-align: top;background: url(../images/view_icon.png) left center no-repeat;background-size: contain;padding-right: 0;margin-right: 3px;}

.ads-box{width: 100%;height: 85px;background-color: #fff;overflow: hidden;margin-bottom: 10px;}
.ads-box img{width: 100%;vertical-align: top;}

.panel .panel-body .cloum-2{padding: 5px;overflow: hidden;margin-top: -10px;}
.panel .panel-body .cloum-2 li{width: 50%;float: left;height:auto;overflow: hidden;padding: 5px;background: none;margin: 0;}
.panel .panel-body .cloum-2 li .pic{position: static;width:100%;height: 0;padding-bottom: 70%;overflow: hidden;}
.panel .panel-body .cloum-2 li .pic a{display: block;width: 100%;height: 0;padding-bottom: 70%;background-size: cover;background-position: center center;}
.panel .panel-body .cloum-2 li .content{margin: 0;background-color: #fff;padding: 5px;}
.panel .panel-body .cloum-2 li .content a{font-size: 11px;color:#333333;}
.panel .panel-body .cloum-2 li .content span.price{color:#ff0000;}
.panel .panel-body .cloum-2 li .content span.price em{font-size: 14px;color:#ff0000;font-weight: 600;}

.hui-tab-title>div{background-color: #fff;}
.panel .panel-head.beikao{text-align: left;font-weight: bold;}
.panel .panel-head.beikao ~ .panel-body{margin-top: 1px;}
.hui-tab-item{padding-top: 10px;overflow: hidden;}
.hui-tab-title .hui-tab-active{background-color: #00A2FF;color:#ffffff;}

.index-footer{margin: 20px auto;text-align: center;}
.index-footer .f-nav{overflow: hidden;line-height: 24px;color:#333333;font-size: 12px;}
.index-footer .f-nav a:after{content:"|";display: inline-block;vertical-align: top;color:#000000;padding-right: 5px;margin-left: 8px;font-size: 9px;line-height: 23px;}
.index-footer .f-nav a:last-child:after{display: none;}
.index-footer p{color:#666666;font-size: 10px;line-height: 24px;}

#hui-footer a{width: 25%;}

/* 详情页 */
.detail-list .tab-li .column-3 li{width: 33.333%;}

/* qq群 */
.hui-select-beautify-sed{color:#12a8ff;}
.selectbox li>div,.selectbox>div{text-align: center;font-family: "hui-font";}
.qq-wrap{background-color: #fff;margin-top: 10px;margin-bottom: 10px;}
.qq-header{height: 44px;border-bottom: 1px solid #fafbfc;}
.qq-header ul{display: flex;flex-direction:row;justify-content:space-between; align-content: center;}
.qq-header ul li{width: 33.3333%;text-align: center;height: 100%;line-height: 44px;font-size: 13px;color:#333333;font-weight: 600;}
.qq-header ul li::after{content:"|";float: right;color:#eeeeee;font-size: 16px;}
.qq-header ul li:last-child::after{display: none;}
.qqList{padding:0px 15px;}
.qqList ul{display: flex;display: -webkit-flex;flex-wrap: wrap;}
.qqList li{width: 100%;display: flex;display: -webkit-flex;flex-direction:row;justify-content:space-between;height: 44px;overflow: hidden;border-bottom: 1px solid #fafbfc;line-height: 44px;}
.qqList li:last-child{border-bottom: none;}
.qqList li>div{padding: 0 10px;font-size: 12px;color:#333333;}
.qqList li>div a{color:#333333;font-size: 12px;}
.qqList li div:first-child{flex: 1;}

.pagebox{background-color: #fff;height: 44px;line-height: 44px;background-color: #fff;display: flex;flex-direction: row;justify-content:space-between;}
.pagebox a{font-size: 13px;color:#333333;flex: 1;text-align: center;}
.pagebox a:first-child{border-right: 1px solid #f8f8f9;}

/* 学校选择 */
.school-wrap ul{display: flex;flex-direction:column;margin-bottom: 10px;}
.school-wrap ul li{height: 95px;background-color: #fff;overflow: hidden;margin-top: 10px;padding: 10px 15px;box-sizing: border-box;}
.school-wrap ul li .box{display: flex;flex-direction: row;justify-content:space-around;align-items: center;align-content: center;height: 100%;}
.school-wrap ul li .box .pic{flex-basis: 125px;height: 75px;}
.school-wrap ul li .box .pic a{display: block;width: 100%;height: 100%;background-size: cover;background-repeat: no-repeat;background-position: center;}
.school-wrap ul li .box .school-info,.school-wrap ul li .box .school-area{display: flex;flex-direction: column;justify-content:space-between;height: 100%;}
.school-wrap ul li .box .school-info a{font-size: 14px;color:#333333;font-weight: bold;}
.school-wrap ul li .box .school-info p{font-size: 12px;}
.school-wrap ul li .box .school-info{flex-grow: 1;margin-left: 10px;margin-right: 10px;}
.school-wrap ul li .box .school-area{text-align: right;}
.school-wrap ul li .box .school-area span{font-size: 12px;color:#999999;}
.school-wrap ul li .box .school-area p{font-size: 13px;color:#333333;font-weight: 500;}

/* 资讯列表 */
.news-wrap .panel,.kecheng-wrap .panel{margin-bottom: 0px;}

/* 分类 */
.category-wrap .panel{padding-bottom: 0;}
.category-wrap .panel .panel-body{padding-left:15px;background-color: #fff;}
.category-wrap .panel .panel-body li{margin-bottom: 0;border-bottom: 1px solid #eeeeee;padding:10px 15px 10px 0}
.category-wrap .panel .panel-body li .content{margin-left: 0;}
.category-wrap .panel .panel-footer{margin-top: 10px;}

/* 分页 */
.page-box{display: flex;flex-direction: row;flex-wrap: wrap;padding: 10px 0px;justify-content:center;}
.page-box a{display: inline-block;vertical-align: top;padding: 0px 12px;line-height: 30px;color:#333333;font-size: 15px;background-color: #fff;margin:5px 2px;border-radius: 2px;}
.page-box a.active{background-color: #00A2FF;color:#ffffff;}
.page-box span{display: inline-block;vertical-align: top;margin: 0 5px;line-height: 30px;}
.page-box .page-input{border: 1px solid #eeeeee;width: 50px;height: 30px;line-height: 30px;padding: 0 5px;text-align: center;margin-top: 10px;margin-right: 10px;}
.page-box .btn{border: none;outline: none;background-color: #00A2FF;color:#ffffff;height: 30px;line-height: 30px;text-align: center;padding: 0 12px;margin-top: 10px;}

.swiper-container-box{width: 100%;height: 44px;overflow: hidden;position:relative;}
.swiper-container-box div{overflow: visible;}
.swiper-container-box .swiper-slide {font-size: 14px; color:#333333;line-height: 44px;text-align: center;padding: 0 5px;box-sizing: border-box;}
.swiper-container-box .swiper-button-nexts{right: 0;height: 44px;width: 44px;box-sizing: border-box;padding: 10px;background-color:#fff;box-shadow: -8px 0 12px 0 rgba(231,231,231,0.50);position: absolute;top: 0;z-index: 5;}
.swiper-container-box .swiper-button-nexts:after{font-family: "hui-font";content:"\e608";display: block;width: 22px;height: 22px;margin: 11px;position: absolute;top: 0;left: 0;line-height: 22px;text-align: center;font-size: 13px;}
.swiper-container-box .swiper-slide a{display: block;width: 100%;height: 100%;}
.swiper-container-box .swiper-slide.swiper-slide-active a{color:#45ffbb;}

/* 学校详情 */
.panel-school{margin-bottom: 10px;background-color: #fff;}
.panel-school > .panel-head h2{border-left: 2px solid #14A9FF;margin-left: -15px;font-size: 15px;padding-left: 10px;}
.panel-school > .panel-head{position: relative;padding:13px 10px;line-height: 18px;margin-left: 15px;border-bottom: 1px solid #f8f8f9;overflow: visible;}
.panel-school > .panel-head.hui-arrow:after{transform: rotate(90deg);transition: all ease-in-out 0.5s;position: absolute;right: 10px;top: 0;line-height: 44px !important;height: 44px;}
.panel-school > .panel-head.hui-arrow.hui-active:after{transform: rotate(-90deg);}
.panel-school .panel-body ul{margin-left: 15px;display: flex;justify-content: space-between;flex-wrap: wrap;}
.panel-school .panel-body ul li{width: 50%;height: 33px;line-height: 33px;border-bottom: 1px solid #f8f8f9;font-size: 13px;color:#666666;}
.panel-school .panel-body#showPanelBody{height: 150px;overflow: hidden;}
.panel-school .panel-body p{padding: 15px;line-height: 24px;color:#666666;font-size: 13px;}

.school-nav{padding: 10px;background-color: #fff;margin-bottom: 10px;}
.school-nav ul{display: flex;justify-content: space-around;flex-wrap: wrap;}
.school-nav ul li{width: 25%;}
.school-nav ul li .hui-speed-dial-text{font-size: 10px;color:#454545;}

.school-nav .hui-speed-dial-icons .hui-icons { width: 45px; height: 45px; display: inline-block; background-position: center center; background-repeat: no-repeat; background-size: contain; }
.hui-icons-sicon1{background-image: url(../images/sico1.png)}
.hui-icons-sicon2{background-image: url(../images/sico2.png)}
.hui-icons-sicon3{background-image: url(../images/sico3.png)}
.hui-icons-sicon4{background-image: url(../images/sico4.png)}
.hui-icons-sicon5{background-image: url(../images/sico5.png)}
.hui-icons-sicon6{background-image: url(../images/sico6.png)}
.hui-icons-sicon7{background-image: url(../images/sico7.png)}
.hui-icons-sicon8{background-image: url(../images/sico8.png)}
.hui-icons-sicon9{background-image: url(../images/sico9.png)}
.hui-icons-sicon10{background-image: url(../images/sico10.png)}
.hui-icons-sicon11{background-image: url(../images/sico11.png)}
.hui-icons-sicon12{background-image: url(../images/sico12.png)}

.panel-list > .panel-head,.panel-school > .panel-head{background-color: #fff;box-sizing: border-box;height: 44px;padding: 10px;line-height: 24px;display: flex;justify-content: space-between;}
.panel-list > .panel-head span{color:#333333;font-size: 17px;font-weight: 550;}
.panel-list > .panel-head a{color:#999999;font-size: 12px;width: auto;}
.hui-index-list{padding: 0 10px;margin-bottom: 10px;}
.hui-index-list .panel .panel-body{margin-top: 0;}

/* 资讯详情 */
.news-detail-wrapper{margin-top: 10px;}
.news-detail-box .news-head{padding: 10px;background-color: #fff;}
.news-detail-box .news-head h1{font-size: 16px;font-weight: 550;color:#333333;line-height: 28px;text-align: center;padding: 0 10px;margin-bottom: 10px;}
.news-detail-box .news-head p{display: flex;justify-content: space-between;border-bottom: 1px solid #dbdbdb;padding-bottom: 10px;}
.news-detail-box .news-head p span{color:#666666;font-size: 10px;}
.news-detail-box .news-body{background-color: #fff;}
.news-detail-box .news-body .caption{text-align: center;line-height: 30px;height: 30px;overflow: hidden;}
.news-detail-box .news-body .caption span{font-size: 13px;color:#ff0000;margin-right: 10px;display: inline-block;vertical-align: top;line-height: 30px;}
.news-detail-box .news-body .caption a{color:#666666;font-size: 10px;display: inline-block;height: 30px;vertical-align: top;}
.news-detail-box .news-body .caption a i{display: inline-block;vertical-align: top;width: 16px;height: 16px;margin: 7px;background:url(../images/wxlogo.png) no-repeat;background-size: contain;}
.news-detail-box .news-ads{width: 100%;overflow: hidden;background-color: #d8d8d8;}
.news-detail-box .news-ads img{width: 100%;}
.news-detail-box .news-content{padding: 10px;}
.news-detail-box .news-content p{text-indent: 2em;color:#151515;font-size: 13px;line-height: 26px;}
.news-detail-box .news-footer{background-color: #fff;padding: 15px;}
.news-detail-box .news-footer img{width: 100%;}
.news-detail-box .pagebox{margin: 10px auto;}

/* 购物车 */
#hui-commit{position: absolute;right: 0;top: 0;height: 44px;width: 44px;line-height: 44px;text-align: center;color:#666666;font-size: 14px;}
.cart-wrap{position: absolute;top: 54px;bottom: 0;width: 100%;overflow: hidden;}
.cart-wrap .cart-list{position: absolute;top: 0;bottom: 54px;overflow-y: auto;width: 100%;}
.cart-wrap .cart-list li>div{padding: 10px;box-sizing: border-box;text-align: center;display: flex;align-items: center;align-content: center;justify-content: center;}
.cart-wrap .cart-list li .probox{width: 100px;overflow: hidden;}
.cart-wrap .cart-list li .probox img{width: auto;max-width: 100%;max-height: 80px;}
.cart-wrap .cart-list li .numbox{flex: 1;}
.cart-wrap .cart-list li .numbox .hui-number-box{border: 1px solid #979797;height: 28px;}
.numbox .hui-number-box .add,.numbox .hui-number-box .reduce,.numbox .hui-number-box input{background-color: #fff;line-height: 28px;height: 28px;}
.numbox .hui-number-box .add{border-left: 1px solid #979797;}
.numbox .hui-number-box .reduce{border-right: 1px solid #979797;}
.cart-wrap .cart-list li{width: 100%;height: 100px;overflow: hidden;background-color: #fff;margin-bottom: 1px;display: flex;}
.cart-wrap .cart-list li .checkbox,.cart-wrap .cart-list li .dellbox{width: 50px;}
.cart-wrap .cart-list li .dellbox{background-color: #ff0000;font-size: 14px;color:#ffffff;}
.cart-wrap .cart-footer{background-color: #fff;height: 44px;position: absolute;bottom: 0;left: 0;overflow: hidden;width: 100%;display: flex;justify-content: space-between;align-items: center;}
.cart-wrap .cart-footer .checkbox{padding: 10px 15px;}
.cart-wrap .cart-footer .checkbox label input{margin-right: 10px;}
.cart-wrap .cart-footer .actionbox{height: 44px;overflow: hidden;}
.cart-wrap .cart-footer .actionbox a{display: block;float: left;vertical-align: top;padding: 0 20px;height:44px;line-height:44px;color:#ffffff;font-size: 14px;}
.btn-danger{background-color: #ff0000;}
.btn-wraning{background-color: #FF7E14;}
.cart-wrap .checkbox{position: relative;overflow: hidden;}
.cart-wrap .checkbox i{display: block;width: 20px;height: 20px;background-image: url(../images/wxz_icon.png);background-size: contain;}
.cart-wrap .checkbox i.checked{background-image: url(../images/xz_icon.png);}
.cart-wrap .checkbox input{z-index: 100;display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0;}
.cart-wrap .allselect{display: flex;justify-content: space-between;align-items: center;width: 85px;height: 44px;box-sizing: border-box;}
