/* 登录框 */
body{padding-bottom: 112px;}
.bg-white{background-color: #fff;}
.login-wrapper{width: 322px;margin: 112px auto;background-color: #fff;box-shadow: 12px 12px 28px #f5f8fc,-12px -12px 28px #f5f8fc,-12px 12px 28px #f7f9fd,12px -12px 28px #f7f9fd;
border: 1px solid #f4f7fc;border-radius: 5px;padding: 63px 63px 30px;}
.login-wrapper h2{line-height: 36px;font-size: 24px;color:#333333;text-align: center;margin-bottom: 25px;}
.form-group{padding: 15px;position:relative;}
.input-css{width: 294px;height: 40px;line-height: 40px;padding:0 15px;background-color: #f2f2f5;font-size: 14px;color:#666666;border: none;outline: none;border-radius: 5px;box-sizing: border-box;}
.tipbox{margin-top: -8px;font-size: 12px;color:#666666;text-align:right;margin-right: 15px;}
.btn-group{padding: 15px;}
.btn-group .btn-login{width: 294px;height: 40px;line-height: 38px;border: none;outline: none;cursor: pointer;background:url(../images/login/login_bg.png);background-size: cover;font-size: 16px;color:#ffffff;opacity:1;transition:opacity ease-in-out .5s;}
.btn-group .btn-login:hover{opacity:0.85;}
.btn-group .btn-login span{letter-spacing: 40px;margin-left: 40px;}
.btn-group p{font-size: 12px;color:#666666;text-align: center;line-height: 30px;}
.btn-group p a{color:rgba(0,145,244,1);}
.btn-group p a:hover{color:rgba(0,145,244,0.85);}
.login-type{width: 240px;height: 40px;overflow: hidden;margin: 5px auto;}
.login-type a{display: block;width: 40px;height: 40px;float: left;margin: 0 20px;background-position: center center;background-repeat: no-repeat;background-size: contain;transition: all ease-in-out .5s;}
.login-type a.weixin-login{background-image: url(../images/login/weixin.png)}
.login-type a.qq-login{background-image: url(../images/login/qq.png)}
.login-type a.weibo-login{background-image: url(../images/login/weibo.png)}
.login-type a.weixin-login:hover{background-image: url(../images/login/weixin_active.png)}
.login-type a.qq-login:hover{background-image: url(../images/login/qq_active.png)}
.login-type a.weibo-login:hover{background-image: url(../images/login/weibo_active.png)}

/* 注册框 */
.getyzm{position: absolute;right: 15px;top: 15px;height: 40px;line-height: 40px;font-size: 14px;color:#666666;padding: 0 10px;}
.view_icon{position: absolute;right: 15px;top: 15px;width: 40px;height: 40px;background:url(../images/login/view_icon.png) center center no-repeat;background-size: contain;display: block;}

/* 注册成功 */
.success-icon{width: 92px;height: 92px;margin: 30px auto 15px;}
.success-tip{color:#666666;text-align: center;font-size: 18px;line-height: 30px;margin-bottom: 15px;}
