/* 我的学习卡 */
.list-box{overflow: hidden;}
.list-box li{padding:0 32px 32px;float: left;}
.list-box li .card{width: 176px;height: 100px;background:url(../images/user/xuexika.png) center center no-repeat;background-size: contain;overflow: hidden;color:#ffffff;padding: 12px;border-radius: 6px;}
.list-box li .card p{font-size: 16px;line-height: 24px;}
.list-box li .card span{display: block;font-size: 16px;line-height: 24px;text-align: center;}
.list-box li .card small{font-size: 10px;}

.user-card{width: 426px;height: 40px;margin: 50px auto 100px;overflow: hidden;}
.user-card .input-box{width: 316px;height: 38px;float: left;border: 1px solid #eaeaea;padding: 0 10px;}
.user-card .input-box input{width: 100%;border: none;outline: none;height: 100%;color:#999999;font-size: 14px;}
.user-card .btn-box{width: 81px;height: 40px;float: right;}
.user-card .btn-box input{background:url(../images/user/xuexikaqueren.png) center center no-repeat;width: 100%;height: 100%;border: none;outline: none;cursor: pointer;font-size: 18px;color:#ffffff;line-height: 38px;}

/* 我的优惠券 */
.list-box li .coupon{width: 176px;height: 100px;background:url(../images/user/youhuiquan.png) center center no-repeat;background-size: cover;overflow: hidden;color:#ffffff;padding: 12px;border-radius: 6px;}
.list-box li .coupon.disabled{background:url(../images/user/end_time.png) center center no-repeat #c5c5c5;background-size: cover;}
.list-box li .coupon p{font-size: 30px;line-height: 50px;}
.list-box li .coupon p b{font-size: 43px;font-weight: 400;}
.list-box li .coupon span{display: block;font-size: 14px;line-height: 24px;}
.list-box li .coupon small{font-size: 10px;}

/* 分页 */
.pagination {padding-top: 30px;height: 26px;padding-bottom: 0px;}
/* 我的收藏 */
.fav-list{padding: 0 18px;margin-top: -30px;}
.fav-list li{padding-top: 25px;padding-bottom: 20px;border-bottom: 1px solid #dfdfdf;}
.fav-list li:last-child{border-bottom: none;}
.fav-list .favbox{position: relative;overflow: hidden;height: 50px;}
.fav-list .photo{position: absolute;left: 0;top: 0;width: 90px;height: 50px;}
.fav-list .content{margin-left: 120px;margin-right: 225px;}
.fav-list .content a{font-size: 18px;color:#666666;margin-bottom: 10px;}
.fav-list .content p{color:#666666;font-size: 10px;}
.fav-list .rightbox{position:absolute;right: 0;top: 0;width: 150px;height: 50px;}
.fav-list .rightbox a,.fav-list .rightbox span{font-size: 10px;text-align: right;display: block;color:#666666;}
.fav-list .rightbox a{margin-bottom: 16px;color:#333333;}
/* 我的订单 */
.order-box{padding: 0 20px;}
.order-box table{width: 100%;border:1px solid #dfdfdf;font-size: 12px;color:#666666;}
.order-box table th,.order-box table td{border: 1px solid #dfdfdf;}
.order-box table th{text-align: center;height: 35px;background-color: #fafafa;padding: 0 10px;}
.order-box table td{padding: 15px;line-height: 22px;text-align: center;}
.order-box table td .view{color:#999999;font-size: 12px;display: block;}
.order-box table td .del{color:#666666;}
.order-box table td .del:hover{color:#777777;}
/* 我的笔记 */
.bj-list{padding: 0 18px;margin-top: -30px;}
.bj-list li{padding-top:15px;padding-bottom: 12px;border-bottom: 1px solid #dfdfdf;}
.bj-list li:last-child{border-bottom: none;}
.bj-list .bjbox{position: relative;overflow: hidden;height: 50px;}
.bj-list .bjbox .bj-left{margin-right: 125px;}
.bj-list .bjbox .bj-left a{font-size: 18px;color:#333333;}
.bj-list .bjbox .bj-left a:hover{color:#0091f4;}
.bj-list .bjbox .bj-left span{font-size: 14px;color:#999999;display: block;line-height: 35px;}
.bj-list .bjbox .bj-right{position: absolute;top: 0;right: 0;}
.bj-list .bjbox .bj-right a{font-size: 14px;color:#999999;}
.bj-list .bjbox .bj-right a:hover{color:#787878;}
/* 我的信息 */
.my-info-box{padding: 0 20px;overflow: hidden;}
.my-info-box .form-group{margin-bottom: 25px;position: relative;overflow: hidden;}
.my-info-box .form-group label{display: block;width: 90px;height: 40px;position:absolute;left: 0;top: 0;font-size: 16px;color:#333333;line-height: 40px;}
.my-info-box .form-group label span{letter-spacing: 32px;margin-right: -32px;}
.my-info-box .form-group .input-group{margin-left: 90px;line-height: 40px;}
.my-info-box .form-group .input-group .radio-inline{float: left;vertical-align: top;margin-right: 15px;}
.my-info-box .form-group .input-group .radio-inline input{vertical-align: top;margin-top: 13px;margin-right: 15px;}
.my-info-box .form-group .input-group .radio-inline .iradio_square{width: 17px;height: 17px;background-position: -144px 0;margin-right: 15px;}
.my-info-box .form-group .input-group .radio-inline .iradio_square.checked{background-position: -162px 0;}
.my-info-box .form-group .input-group .input-control{width: 230px;height: 40px;font-size: 14px;color:#999999;padding: 0 10px;line-height: 40px;border: 1px solid #eaeaea;outline: none;font-family:'Microsoft YaHei';}
.my-info-box .form-group .input-group textarea{width: 450px;height: 80px;font-size: 14px;color:#999999;padding:10px 16px;border: 1px solid #eaeaea;outline: none;line-height: 22px;font-family:'Microsoft YaHei';}
.my-info-box .form-group .input-group .tip{font-size: 10px;color:#999999;margin-left: -55px;margin-top: 10px;}
.my-info-box .form-group select{border: 1px solid #eaeaea;outline: none;height: 40px;padding: 0 15px;color:#333333;font-size: 14px;}
.my-info-box .btn-group{margin-left: 90px;}
.my-info-box .btn-group .btn-submit{font-size: 16px;color:#ffffff;background: url(../images/user/xinxixiugaibaocun.png) center center no-repeat;background-size: cover;border: none;outline: none;width: 81px;height: 27px;line-height: 25px;cursor: pointer;}
.my-info-box .btn-group .btn-submit:hover{opacity:0.85}
/*地址修改*/
.my-info-box .area-group{overflow: hidden;}
.my-info-box .area-group .form-group{float: left;margin-right: 16px;}
.my-info-box .btn-group .btn-dell{margin-left: 16px;display:inline-block;width: 81px;height: 27px;line-height: 27px;text-align:center;color:#000000;font-size: 16px;}
.my-info-box .btn-group .btn-dell:hover{color:rgba(0,0,0,.8)}
.my-info-box .btn-group.address-btn-box{margin-top: 0;}
.address-btn-box .checkbox{display:block;margin-top: -10px;line-height:30px;margin-bottom: 15px;font-size: 12px;color:#333333;}
.address-btn-box .checkbox input{vertical-align: top;margin-top: 9px;margin-right: 5px;}
.address-btn-box .checkbox .icheckbox_square{width: 16px;height: 16px;background-position: 0 0;margin-top: 7px;margin-right: 8px;vertical-align: top;}
.address-btn-box .checkbox .icheckbox_square.checked{background-position: -72px 0;}
/*我的信息详情*/
.panel .edit,.panel .editpassword{display:block;height: 60px;line-height: 60px;font-size: 14px;text-align: center;}
.panel .edit:hover,.panel .editpassword:hover{color:#000000;}
.panel .editpassword{color:#666666;padding: 0 20px;}
.panel .edit{color:#999999;padding: 0 20px;}
.my-info-box .leftbox{width:250px;margin-right: 10px;}
.my-info-box .centerbox{width:300px;margin-right: 10px;}
.my-info-box .rightbox{width: 182px;}
.my-info-box dl{position:relative;margin-bottom: 15px;}
.my-info-box dt,.my-info-box dd{line-height: 30px;font-size: 16px;color:#333333;}
.my-info-box dt{position:absolute;width: 85px;top: 0;left: 0;}
.my-info-box dt span{letter-spacing: 29px;margin-right: -30px;}
.my-info-box dd{margin-left: 86px; word-break:break-all}

.myaddress-box{padding: 0 20px;overflow: hidden;margin-top: -10px;}
.myaddress-box li{border-bottom: 1px solid #dfdfdf;padding: 20px 0;margin-bottom: 10px;}
.myaddress-box li .myaddress{line-height: 36px;font-size: 16px;}
.myaddress .address-main .badge{margin-left: 20px;background-color: #0091f4;color:#ffffff;line-height: 24px;height: 26px;padding: 0 10px;display:inline-block;}
.myaddress .address-info{overflow: hidden;}
.myaddress .address-info .address-l{width: 250px;margin-right: 10px;}
.myaddress .address-info .address-c{width: 200px;margin-right: 10px;}
.myaddress .address-info .address-r{width: 282px;}
.myaddress .address-op a{color:#666666;font-size: 14px;margin-right: 20px;}
.myaddress .address-op a:hover{color:#333333;}

.yaoqingmabox{width: 474px;height: 76px;margin: 0 auto;overflow: hidden;}
.yaoqingmabox .copylink{overflow: hidden;border: 1px solid #dfdfdf;height: 40px;position: relative;}
.yaoqingmabox .copylink .linkbox{float: left;width: 364px;background: url(../images/user/copylinkbg.png) repeat-x;padding: 10px;line-height: 20px;border-right: 1px solid #dfdfdf;}
.yaoqingmabox .copylink .copy{width: 87px;height: 40px;line-height: 40px;text-align: center;display:block;float: left;color:#666666;}
#copyUrl{position: absolute;z-index: -1;opacity: 0;top: 0;left: 0;}

.yaoqingmabox .yqm-op{line-height: 36px;}
.yaoqingmabox .yqm-op a{color:#0091f4;margin-right: 20px;font-size: 10px;}
.yaoqingmabox .yqm-op a:hover{color:rgba(0,145,244,.8)}

.message-box{padding: 0 20px;overflow: hidden;}
.message-box li{border-bottom: 1px solid #dfdfdf;padding-bottom: 20px;margin-bottom: 16px;}
.message-box li:last-child{margin-bottom: -20px;}
.message-box li .messagebox{height: 36px;overflow: hidden;position:relative}
.messagebox .photo{width: 30px;height: 30px;border-radius:50%;background-size:cover;background-repeat:no-repeat;background-position:center center;position:absolute;top: 6px;left: 3px;}
.messagebox .content{margin-left: 46px;margin-right: 240px;}
.messagebox .content h2{color:#333333;line-height: 18px;margin-bottom: 3px;}
.messagebox .content p{color:#666666;line-height: 15px;}
.messagebox .timebox{position:absolute;right: 0;top: 0;font-size: 12px;color:#999999;}

.view-more{height: 63px;text-align: center;line-height: 63px;background-color: #fff;border-top: 1px solid #dfdfdf;}
.view-more .more_icon{width: 16px;height: 16px;display:inline-block;vertical-align: top;background: url(../images/user/more.png) center center no-repeat;margin: 24px 15px;}
/* 我的课程 */
.kecheng-list{padding: 0 18px;margin-top: -30px;}
.kecheng-list li{padding-top: 30px;padding-bottom: 30px;border-bottom: 1px solid #dfdfdf;}
.kecheng-list li:last-child{border-bottom: none;}
.kecheng-list .kcbox{position: relative;overflow: hidden;height: 110px;}
.kecheng-list .photo{position: absolute;left: 0;top: 0;width: 200px;height: 110px;overflow: hidden;}
.kecheng-list .photo a img{transition: all ease-in-out .5s;transform: scale(1);}
.kecheng-list .photo a:hover img{opacity:0.8;transform: scale(1.1);}
.kecheng-list .content{margin-left: 230px;}
.kecheng-list .content .content-top{margin-bottom: 20px;}
.kecheng-list .content .content-top h2{font-size: 18px;color:#333333;margin-bottom:5px;position: relative;}
.kecheng-list .content .content-top h2 a.text-ellipsis{margin-right: 100px;}
.kecheng-list .content .content-top h2 a.replay{width: 54px;height: 20px;position: absolute;top: 0;right: 0;display: block;background: url(../images/user/huifang.png);transition: all ease-in-out .4s;}
.kecheng-list .content .content-top h2 a.replay:hover,.kecheng-list .content .content-top h2 a.replay.active{background: url(../images/user/huifang_hover.png);}
.kecheng-list .content .content-top p{font-size: 10px;color:#666666;}
.kecheng-list .content .timebox{font-size: 10px;color:#666666;overflow: hidden;}
.kecheng-list .content .timebox .startime{float: left;line-height: 12px;}
.kecheng-list .content .timebox .endtime{float: right;line-height: 14px;}
.kecheng-list .content .progress{background-color: #f2f2f2;width: 100%;height: 6px;margin: 5px auto 3px;}
.kecheng-list .content .progressing{display: block;height: 100%;width: 0;background-color: #199cf5;}
.kecheng-list .content .op-box{font-size: 10px;color:#666666;overflow: hidden;}
.kecheng-list .content .op-box .progress_des{float: left;}
.kecheng-list .content .op-box .progress_des em{font-style: normal;color:#333333;margin:0 3px;}
.kecheng-list .content .op-box a{float: right;color:#333333;line-height: 18px;}
.kecheng-list .content .op-box a:hover{color:#199cf5;}
/* 我的购物车 */
.table{width: 100%;border-collapse: collapse;border-spacing: 0;}
.table th,.table td{border-bottom: 1px solid #dfdfdf;text-align: center;}
.table th{line-height: 30px;font-size: 12px;color:#666666;}
.table td{padding:20px 10px;font-size: 12px;color:#000000;}
.table td em{margin: 0 3px;font-style: normal;}
.table td span.red{color:#ff0000;}
.table td .info{position: relative;height: 71px;}
.table td .info .pro-photo{position: absolute;width: 58px;height: 71px;top: 0;left: 0;}
.table td .info p{margin-left: 68px;line-height: 22px;padding: 0 20px;text-align: left;}
.table .icheckbox_square{width: 17px;height: 17px;background-position: -18px 0px;}
.order-jsbox{border: 1px solid #dfdfdf;height: 30px;font-size: 12px;line-height: 30px;margin: 23px auto 10px;overflow: hidden;}
.order-jsbox .allcheck{float: left;color:#000000;}
.order-jsbox .allcheck .icheckbox_square{vertical-align: top;margin: 7px;margin-right: 8px;width: 17px;height: 17px;background-position: -18px 0px;}
.order-jsbox .allcheck .icheckbox_square.checked,.table .icheckbox_square.checked,.order-jsbox .allcheck .icheckbox_square.checked.hover,.table .icheckbox_square.checked.hover{background-position: -36px 0px;}
.order-jsbox .allcheck .icheckbox_square.hover,.table .icheckbox_square.hover{background-position: -18px 0px;}
.order-jsbox .check-info{float: right;}
.order-jsbox .check-info span{margin-right: 30px;}
.order-jsbox .check-info span.num{color:#666666;}
.order-jsbox .check-info span.num em{font-size: 14px;margin: 0 5px;font-style: normal;}
.order-jsbox .check-info span.total{color:#000000;}
.order-jsbox .check-info span.total em{color:#ff0000;font-style: normal;font-weight: bold;font-size: 14px;}
.order-jsbox .check-info .btn-jiesuan{display: inline-block;vertical-align: top;background-color: #ff0000;font-size: 14px;color:#ffffff;text-align: center;width: 90px;float: right;font-weight: bold;transition: all ease-in-out .5s;}
.order-jsbox .check-info .btn-jiesuan:hover{opacity:0.85;}

/* 我的直播 */
.zhibo-list{padding: 0 18px;margin-top: -30px;}
.zhibo-list li{padding-top: 30px;padding-bottom: 30px;border-bottom: 1px solid #dfdfdf;}
.zhibo-list li:last-child{border-bottom: none;}
.zhibo-list .zbbox{position: relative;overflow: hidden;height: 60px;}
.zhibo-list .photo{position: absolute;left: 0;top: 0;width: 100px;height: 60px;overflow: hidden;}
.zhibo-list .photo a img{transition: all ease-in-out .5s;transform: scale(1);}
.zhibo-list .photo a:hover img{opacity:0.8;transform: scale(1.1);}
.zhibo-list .photo .ended{display: block;width: 90px;height: 50px;position: absolute;top: 50%;margin-top: -25px;left: 50%;margin-left: -45px;background:url(../images/user/ended.png);}
.zhibo-list .content-top a{font-size: 18px;color:#333333;position: relative;line-height: 16px;margin-bottom: 5px;}
.zhibo-list .content-top a:hover{color:#4db2f7;}
.zhibo-list .content-top p{font-size: 10px;color:#666666;line-height: 16px;}
.zhibo-list .content{margin-left: 125px;}
.zhibo-list .content .content-bottom{margin-top: 4px;overflow: hidden;}
.zhibo-list .content i:after,.zhibo-list .content i{display: inline-block;vertical-align: top;margin-top: 1px;}
.zhibo-list .content i.zbjs_icon{background:url(../images/user/video_icon_end.png) no-repeat center left;padding-left: 20px;}
.zhibo-list .content i.zbjxs_icon,.zhibo-list .content i.zbjjks_icon{background:url(../images/user/video_icon_ing.png) no-repeat center left;padding-left: 20px;}
.zhibo-list .content i.zbjxs_icon:after{content: "正在直播...";font-style: normal;color:#4db2f7;font-size: 10px;}
.zhibo-list .content i.zbjjks_icon:after{content: "即将开始";font-style: normal;color:#4db2f7;font-size: 10px;}
.zhibo-list .content i.zbjs_icon:after{content: "查看回收";font-style: normal;color:#999999;font-size: 10px;}
.zhibo-list .content .timebox{font-size: 12px;color:#666666;overflow: hidden;float: right;}

/* 订单详情 */
.order-detail-wrapper{padding: 0;}
.order-detail-wrapper .order-detail-header{height: 40px;border-bottom: 1px solid #f2f2f5;line-height: 40px;overflow: hidden;font-size: 24px;padding: 20px 40px;}
.order-detail-wrapper .order-detail-header p{float: left;color:#333333;}
.order-detail-wrapper .order-detail-header span{float: right;font-weight: 600;color:#000000;}
.order-detail-wrapper .order-detail-box{padding: 0 40px 40px;}
.order-detail-wrapper .order-detail-box .order-detail{margin: 0 auto;margin-top: 10px;}
.order-detail-wrapper .order-detail-box .order-detail p{text-align: left;font-size: 16px;color:#333333;line-height: 36px;margin: 25px auto;}
.order-detail-wrapper .order-detail-box .order-detail p a{margin-left: 30px;font-size: 16px;color:#666666;}
.order-detail-wrapper .order-detail-box .order-detail p a:hover{color:#333333;}
.order-detail-wrapper .btn-group{text-align: center;margin: 40px auto;}
.order-detail-wrapper .btn-group a{display: block;margin: 0px auto;}
.order-detail-wrapper .btn-group button{height: 40px;line-height: 38px;border: none;outline: none;cursor: pointer;font-size: 16px;opacity:1;transition:opacity ease-in-out .5s;}
.order-detail-wrapper .btn-group .btn-submit{width: 294px;background:url(../images/login/login_bg.png);background-size: cover;color:#ffffff;}
.order-detail-wrapper .btn-group .btn-backup{width: 120px;color:#333333;background: none;margin-left: 20px;}
.order-detail-wrapper .btn-group .button:hover{opacity:0.85;}
.order-detail-wrapper .btn-group .btn-submit span{letter-spacing: 40px;margin-left: 40px;}
