@import "bootstrap.css";
@import "base.css";
/*******标题栏************/
a{
  color: #787878;
}
a:hover{
  text-decoration: none;
}
body{
  background: #F2F1F6;
}
img{
  max-width: 100%;
}
label{
  font-weight: 300;
}
.form-btn{
  padding: 3px 20px;
  background: linear-gradient(#00C9FD,#0092F7);
  color:#fff;
}
.font-sm{
  font-size: 12px;
}
.font-xs{
  font-size: 10px;
}
.font-gray{
  color:#747474;
}
.row{
  margin: 0;
}
.navbar-default{
  background-color: #FFFFFF;
  height:70px;
  line-height: 70px;
}
.navbar{
  margin-bottom: 0;
}
.navbar-nav{
  padding-top:10px;
}
#active{
  color:#008FF5;
}
/********主体内容***********/
.jy-main{
  padding:20px 0;
  
}
/********左侧列表**********/
.img-box{
  padding:15px;
}
.header-img{
  max-width:100%;
  /*height: 160px;*/
}
.jy-main>.container>.col-xs-2,.jy-main>.container>.col-xs-9{
  background-color: #fff;
  padding: 0;
  border: 1px solid #DFDFDF;
  margin-left: 20px;
}

.active-color{
  background-color: #FAFAFA;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  color: #515151;
}

/*******编辑个人信息***********/
.main-header{
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.main-box{
  margin-top: 20px;
}
.font-interval{
  letter-spacing:27px;
  margin-right:-24px;
}
.prompt{
  font-size: 10px;
}
.checkbox>label:first-child{
  padding-left: 0;
}
/**************我的课程*************/
.main-box-course{
  width: 90%;
  margin: 0 auto;
}
.main-box-course .live>div{
  padding: 0;
}
.main-box-course .live{
  margin: 0 auto;
  padding: 25px 0;
  border-bottom: 1px solid #E2E2E2;
}
.live:last-child{
  border-bottom:none;
}
.title-font{
  font-size: 18px;
  margin-bottom: 5px;
}
.progress-bar{
  background-color: #199CF4;
}
.playback{
  background: #fff;
  color: #74C6FB;
  border:1px solid #74C6FB;
  float: right;
}
.playback:hover{
  background: #74C6FB;
  color: #fff;
}
.progress{
  height: 10px;
  padding:0;
  margin: 0 0 5px 0 ;
}
.litle-title{
  margin: 5px 0 17px 0;
}
#bg-active{
  background: #0190F6;
  color: #fff;
}
.pager li > a{
  padding:3px 10px;
  margin: 0 5px;
}
/************修改地址*************/
.form-inline{
  padding: 20px 0 15px 40px;
}
#distpicker1 select{
  height: 32px;
  border-radius: 5px;
  margin:0 19px;
}
.delete{
  padding-left: 10px;
  background: #fff;
  border: 0;
}
.font-address{
  letter-spacing:0.5px;
}

/***********个人信息*********/
.my-message{
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 35px;
  height:150px;
}
.my-message .font-interval{
  margin-right: -27px;
}
.default-address{
  background: #0091F4;
  color: #fff;
  padding: 2px 4px;
  margin-left: 20px;
}
.my-address{
  margin:  30px 0;
  line-height: 30px;
  height: 100px;
  border-bottom: 1px solid #EAEAEA;
}
.my-invitation{
  height: 50px;
  margin:30px 0 50px 0;
}
.my-invitation div input{
  width: 60%;
  height: 39px;
  padding-left:10px;
  background-color: #FCFCFC;
  border: 1px solid #DFDFDF;
}
.my-invitation div button{
  height: 39px;
  border: 1px solid #DFDFDF;
  background-color: #fff;
  color: #656565;
  width: 100px;
}
.my-invitation div p{
  margin: 10px 0;
}
.my-news{
  margin: 20px 0;
  height: 60px;
  border-bottom: 1px solid #D7D7D7;
}
.my-news img{
  width: 40px;
  border-radius: 40px;
}
.glyphicon-plus-sign{
  padding-right:10px;
  color: #008FF5;
}
.more{
  margin-bottom:20px;
}

/*********我的优惠券**********/
.coupon-list>li{
  float: left;
  padding:0 30px 20px 20px;
}
.coupon-list>li>img{
  max-width: 200px;
  max-height: 125px;
}
.sidebar-r{
  position: fixed;
  top: 20%;
  right: 0;
  bottom: 0;
  width: 25px;
  background-color: #000;
  color: #fff;
}
.sidebar-r ul>li{
  padding:0 5px;
}
.sidebar-r ul>li>a{
  color: #fff;
}
/**********导师********/
.tutor-header{
  height: 160px;
  line-height: 30px;
  padding: 40px 0;
  background: #fff;
}
.tutor-header-img{
  width: 70px;
  border-radius: 70px;
}
.course-box{
 margin-left: 20px;
}
.course-list>li{
  float: left;
  max-width: 330px;
  margin: 10px 40px 30px 0;
}
.course-list>li>img{
  max-width: 330px;
  max-height: 168px;
}
.course-list>li>div{
  height: 50px;
  background: #F6F6F6;
  padding-top: 15px;
  border:1px solid #F0F0F0;
  border-top: 0;
}
.sidebar-tutor-r{
  position: fixed;
  top: 40%;
  right: 0;
  bottom: 0;
}
.sidebar-tutor-r ul>li:first-child{
  background: #0096F7;
  width: 75px;
  padding: 3px 8px;
}
.sidebar-tutor-r ul>li{
  padding:4px 0;
}
.sidebar-tutor-r ul>li:first-child a{
  color:#fff;
}
.sidebar-tutor-r ul>li:not(:first-child){
  margin:5px 0;
}
.sidebar-tutor-r ul>li:not(:first-child) a{
  background: #fff;
  color:#7F7F7F;
  padding:7px;
}

/********我的协议************/
.table-bordered,.my-shop{
  margin: 20px 0;
}
.table-bordered>thead>tr>th{
  border:0;
  background: #FAFAFA;
}
.my-protocol>thead>tr>th:first-child,.my-protocol>tbody>tr>td:first-child{
width:25%;
}
.table-bordered>tbody>tr>td:first-child{
  text-align: left;
}
/************我的学习卡*************/
.my-card{
  padding-top: 20px;
  min-height: 830px;
}
.my-card>div{
  margin-bottom: 50px;
}
.my-card .form-inline .form-control{
  width:300px;
}
.my-card>div>form .btn{
  background: linear-gradient(#00C9FD,#0092F7);
  color:#fff;
}

/************我的收藏***************/
.my-collect{
  padding: 20px 0 10px 0;
  line-height: 30px;
  border-bottom: 1px solid #E6E6E6;
}
.my-collect>.col-xs-2{
  padding-left: 0;
  line-height: 35px;
}
.my-collect>.col-xs-8{
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}

/***************我的笔记***********/
.my-note{
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #F4F4F4;
  line-height: 30px;
}
.my-note>.col-xs-10{
  padding-left: 0;

}
.my-note>.col-xs-10>p{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

/**************我的订单*************/
.table>tbody>tr>td:first-child{
  width:10%;
  }
.table-center{
}
.my-Order>tbody>tr>td{

}
/********我的购物车********/
.my-shop{
border-bottom: 1px solid #DFDFDF;
}
/* .my-shop>tbody>tr>td:not(:nth-child(2)){
  padding-top: 30px;
} */
.my-shop>tbody>tr>td:nth-child(2){
  width:40%;
}
.color-red{
  color:#FE0000;
}
.shop-submit{
  border:1px solid #E1E1E1;
  height:30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.shop-submit button{
  height:28px;
  padding: 0px 15px;
  color: #fff;
  background: #FE0000;
  border:0;
}
.shop-submit .col-xs-2{
  padding-right:0;
}

/************注册页**********/
.jy-form{
  width: 360px;
  margin: 40px auto;
  background: #fff;
  padding: 20px 40px;
  box-shadow: 0px 0px  15px 10px #E8EBF2;
}
.jy-form>.form-group{
  margin-bottom: 20px;
  position: relative;
}
.jy-form>.form-group>input{
  background: #F2F1F6;
  border: none;
}
.jy-form>.form-group>.form-get{
  position: absolute;
  top:8px;
  right:10px;
}
.register{
  width: 100%;
  background: linear-gradient(#00C9FD,#0092F7);
  color:#fff;
  margin-bottom: 10px;  
}
.register>span{
  letter-spacing: 10px;
}
.register:hover{
  color:#fff;
}
/************登录页*************/
.login-mode{
  margin: 0 10px;
}

/************视屏*****************/
.video-bg{
  background: #111111;
  color: #fff;
}
.video a{
  color:#fff;
}
.video a:hover{
  color:#fff;
}
.video-list-bg{
  background:#1B1B1B;
}
.video-header>.col-xs-10>.glyphicon,.video-header>.col-xs-2>.glyphicon{
  top:2px;
}
.video-header{
  height: 45px;
  line-height: 45px;
}
.video-header-img{
  width: 20px;
  border-radius: 20px;
  margin-bottom: 3px;
  margin-right: 20px;
}
.video-share{
  padding-right: 20px;
}
.video-list-header{
  height:40px;
  line-height: 40px;
  position: relative;
}
.video-list-header>span{
  position: absolute;
  top:12px;
  left:10px;
}
.video-list-header input{
  border:0;
  padding-left:25px;
}
.video-main{
  height:750px;
}
.video-main>.col-xs-3{
  border-top:1px solid #2A2A2A;
  padding:0;
  position: relative;
  height:100%;
}
.video-main>.col-xs-3 button{
  position: absolute;
  right:20px;
  bottom:20px;
}
.video-list,.video-list-r{
  padding:4px 20px 0 20px;
}
.video-list ul>li{
  height:30px;
  position: relative;
}
.video-list ul>li>span{
  position: absolute;
  top:10px;
  left: 0;
  color:#fff;
}
.video-list ul>li>a{
  position: absolute;
  top:10px;
  left: 30px;
  font-size:10px;
  color:#747474;
}
.video-main>.col-xs-6,.video-main>.col-xs-9{
  background: #333333;
  height:100%;
}
.video-header-active{
  color: #0289E6 !important;
  border-bottom: 1px solid #0289E6;
}
.video-list-r{
  padding-top:10px;
  width:100%;
  height:400px;
  overflow: hidden;
}
.video-list-r li{
  line-height: 19px;
  margin-bottom: 10px;
}

