/* 资讯页面 */
.text-ellsips-2{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;font-size: 14px;}
/* 首页-轮播图*/
.hui-swipe-indicators{transition: all ease-in-out 0.6s;}
.hui-swipe-indicator-active {background: #d8d8d8 !important;width: 16px;}

/* 九宫格 */
.hui-menu-box{margin:10px auto;padding: 0;background-color: #fff;}
.hui-menu-box .hui-speed-dial{padding:10px 0;box-shadow:none;border-radius:0px;}
.hui-speed-dial li{width: 20%;}
.hui-icons-icon1{background-image: url(../images/news/index_ico1.png)}
.hui-icons-icon2{background-image: url(../images/news/index_ico2.png)}
.hui-icons-icon3{background-image: url(../images/news/index_ico3.png)}
.hui-icons-icon4{background-image: url(../images/news/index_ico4.png)}
.hui-icons-icon5{background-image: url(../images/news/index_ico5.png)}
.hui-icons-icon6{background-image: url(../images/news/index_ico6.png)}
.hui-icons-icon7{background-image: url(../images/news/index_ico7.png)}
.hui-icons-icon8{background-image: url(../images/news/index_ico8.png)}
.hui-icons-icon9{background-image: url(../images/news/index_ico9.png)}
.hui-icons-icon10{background-image: url(../images/news/index_ico10.png)}

/* 倒计时 */
.count-down-box{background-color: #fff;margin: 10px auto;background-color: #fff;height: 63px;text-align: center;padding: 10px;}
.count-down-box p{height: 30px;line-height: 30px;font-weight: bold;color:#454545;}
#count-down{height: 33px;line-height: 33px;color:#666666;}
#count-down span{margin: 0 5px;font-weight: bold;color:#ff0000;}

.panel{margin-bottom: 10px;}
.panel .panel-head,.panel .panel-foot{background-color: #fff;height: 24px;line-height: 24px;overflow: hidden;padding: 10px;text-align: center;}
.panel .panel-head a,.panel .panel-foot a{display: block;color:#666666;font-size: 15px;width: 100%;height: 100%;}
.panel .panel-body{overflow: hidden;margin-top: 10px;}
.panel .panel-body li{position: relative;height: 95px;overflow: hidden;background-color: #fff;box-sizing: border-box;padding: 10px 12px;margin-bottom: 10px;overflow: hidden;}
.panel .panel-body li .pic{position: absolute;width: 125px;height: 75px;}
.panel .panel-body li .pic a{display: block;width: 100%;height: 100%;background-size: cover;background-repeat: no-repeat;}
.panel .panel-body li .content{margin-left: 135px;}
.panel .panel-body li .content a{height: 40px;line-height: 20px;color:#333333;font-weight:400;}
.panel .panel-body li .content p{height: 25px;line-height: 25px;margin-top: 10px;overflow: hidden;}
.panel .panel-body li .content span{color:#999999;font-size: 10px;}
i.hui-view{width: 25px;height: 25px;display: inline-block;vertical-align: top;background: url(../images/news/view_icon.png) left center no-repeat;background-size: contain;padding-right: 0;margin-right: 3px;}

.ads-box{width: 100%;height: 85px;background-color: #fff;overflow: hidden;margin-bottom: 10px;}
.ads-box img{width: 100%;vertical-align: top;}

.panel .panel-body .cloum-2{padding: 5px;overflow: hidden;margin-top: -10px;}
.panel .panel-body .cloum-2 li{width: 50%;float: left;height:auto;overflow: hidden;padding: 5px;background: none;margin: 0;}
.panel .panel-body .cloum-2 li .pic{position: static;width:100%;height: 0;padding-bottom: 70%;overflow: hidden;}
.panel .panel-body .cloum-2 li .pic a{display: block;width: 100%;height: 0;padding-bottom: 70%;background-size: cover;background-position: center center;}
.panel .panel-body .cloum-2 li .content{margin: 0;background-color: #fff;padding: 5px;}
.panel .panel-body .cloum-2 li .content a{font-size: 11px;color:#333333;}
.panel .panel-body .cloum-2 li .content span.price{color:#ff0000;}
.panel .panel-body .cloum-2 li .content span.price em{font-size: 14px;color:#ff0000;font-weight: 600;}

.hui-tab-title>div{background-color: #fff;}
.panel .panel-head.beikao{text-align: left;font-weight: bold;}
.panel .panel-head.beikao ~ .panel-body{margin-top: 1px;}
.hui-tab-item{padding-top: 10px;overflow: hidden;}
.hui-tab-title .hui-tab-active{background-color: #00A2FF;color:#ffffff;}

.index-footer{margin: 20px auto;text-align: center;}
.index-footer .f-nav{overflow: hidden;line-height: 24px;color:#333333;font-size: 12px;}
.index-footer .f-nav a:after{content:"|";display: inline-block;vertical-align: top;color:#000000;padding-right: 5px;margin-left: 8px;font-size: 9px;line-height: 23px;}
.index-footer .f-nav a:last-child:after{display: none;}
.index-footer p{color:#666666;font-size: 10px;line-height: 24px;}

#hui-footer a{width: 25%;}
