/* 公共部分 */
.img-responsive{max-width: 100%;vertical-align: top;height: auto;}
.mt20{margin-top: 20px !important;}
.mb15{margin-bottom: 15px !important;}
.mt10{margin-top: 10px !important;}
.hui-radius{border-radius: 40px;}
.hui-pos-relative{position:relative;}
.hui-none-padding-left{padding-left: 0 !important;}
/********************************* 注册登录 ********************************/

/* 登录页 */
.hui-form{ padding:10% 16%; background:none !important; }
.hui-form .hui-form-items{ border-bottom:none; padding: 0; margin-bottom: 15px; }
.hui-form .hui-form-items .hui-input{ padding: 11px 40px 11px 11px; background: #F2F2F5; border-radius: 4px; color:#999999;box-sizing: border-box;height: 44px;}
.hui-form .hui-form-footer{line-height: 16px;font-size: 13px;margin-top: 5px;margin-bottom: 50px;}
.hui-form-footer .login-txt{font-size: 13px;}
.hui-form-footer .login-txt a{color:#00A2FF;font-size: 13px;}
.hui-form .hui-login-style li{ float: left; width: 33.3333%; }
.hui-form .hui-login-style li a{display:inline-block;width: 40px;height: 40px;background-size: cover;cursor: pointer;}
.login_weixin{background-image: url(../images/login_weixin.png)}
.login_weibo{background-image: url(../images/login_weibo.png)}
.login_qq{background-image: url(../images/login_qq.png)}

/* 步骤栏 */
.hui-bar-box{overflow: hidden;padding:35px 10px 10px;background-color: #fff;margin: 10px auto;}
.hui-bar-box .hui-bar-style{background-color: #E4F0F6;height: 3px;width: 66%;margin: 0 auto;}
.hui-bar-box .hui-bar-style span{display:block;height:100%;background-color: #00A2FF;}
.hui-bar-box li{ width: 33.3333%; float: left; text-align: center; margin-top: -13px; }
.hui-bar-box li span{display: inline-block;width: 22px;height: 22px;background-color: #E4F0F6;border-radius: 50%;color:#ffffff;}
.hui-bar-box li.active span{background-color: #00A2FF;}
.hui-bar-box li p{font-size: 14px;color:#00A2FF;line-height: 30px;margin-top: 5px;}

/* 成功提示 */
.success-box{padding:0 12%;margin-top: 20px;}
.success-box .success-icon{width: 80px;height: 80px;overflow: hidden;margin: 18px auto 15px;}
.success-box p{line-height: 18px;font-size: 16px;color:#666666;text-align: center;margin-bottom: 30px;}
.success-box .btn-group .hui-outline{border: 1px solid #00A2FF;color:#00A2FF;line-height: 30px;}
.success-box .btn-group .hui-outline:hover{background-color: #00A2FF;color:#ffffff;}
.success-box .btn-group a{line-height: 31px;height: 33px;border-radius:33px;}
.success-box .btn-group .hui-center{width: 110px;text-align: center;margin: 0 auto;}

/* 验证码 */
.yzmbox{position: relative;overflow: hidden;height: 44px;}
.yzmbox .hui-form-items{margin-right: 41%;width:auto;}
.yzmbox a{display: block;position: absolute;right: 0;top: 0;width: 36%;height: 42px;padding: 0;border: 1px solid #e4e4e4;color:#00A2FF;font-size: 12px;box-shadow: none;background-color: #fff;line-height: 40px;}

/*************************************** 个人中心 ************************************/

/* 个人中心--首页 */
.hui-media-box{position: relative;width: 100%;height: 180px;overflow: hidden;background:url(../images/usercenterbg.png) center center no-repeat;background-size:cover;}
.hui-media-box .xiaoxi{width: 30px;height: 30px;position: absolute;right: 10px;top: 10px;background: url(../images/message.png) center center no-repeat;background-size:contain;}
.hui-media-box .xiaoxi .has-data{display: block;position: absolute;background-color: #ff0000;width: 6px;height: 6px;border-radius: 50%;top:2px;right:1px;}
.hui-fruserinfo-box{margin: 50px auto 30px;text-align: center;}
.hui-fruserinfo-box .cover{width: 75px;height: 75px;display: inline-block;background-size: cover;background-position: center center;border-radius: 50%;overflow: hidden;}
.hui-fruserinfo-box p{line-height: 25px;font-size: 14px;}
.hui-list .hui-icons i{background-size:contain;width: 24px;height: 24px;display: inline-block;background-repeat: no-repeat;background-position: center center;vertical-align: top;margin: 13px 15px 13px 5px;}
.hui-list .hui-icons-kecheng{background-image: url(../images/icon01.png)}
.hui-list .hui-icons-safe{background-image: url(../images/icon02.png)}
.hui-list .hui-icons-xieyi{background-image: url(../images/icon03.png)}
.hui-list .hui-icons-address{background-image: url(../images/icon04.png)}
.hui-list .hui-icons-card{background-image: url(../images/icon05.png)}
.hui-list .hui-icons-order{background-image: url(../images/icon06.png)}
.hui-list .hui-icons-notice{background-image: url(../images/notice.png)}
.hui-list .hui-icons-ask{background-image: url(../images/ask.png)}
.hui-list .badge{float: right;background-color: #FF5959;width: 18px;height: 18px;border-radius: 50%;display: inline-block;vertical-align: top;margin: 17px 0px 15px;color:#ffffff;font-size: 10px;line-height: 18px;overflow: hidden;text-align: center;}

/* 个人中心-客服 */
.kefu-message-wrapper{padding:0px 15px 20px;}
.kefu-message-wrapper li{position: relative;padding-right: 30px;margin-top: 20px;}
.kefu-message-wrapper li .photo{width: 30px;height: 30px;background-size: cover;background-position: center center;background-repeat: no-repeat;border-radius: 50%;position: absolute;top: 0;left: 0;}
.kefu-message-wrapper li .message{margin-left: 45px;margin-right: 45px;font-size: 12px;color:#323232;line-height: 18px;background-color: #fff;padding: 5px;border-radius: 5px;}
.kefu-message-wrapper li .time{position: absolute;bottom: 0;right: 30px;width: 40px;font-size: 10px;color:#999999;}
.kefu-message-wrapper li.my{padding-left: 30px;padding-right: 0;}
.kefu-message-wrapper li.my .photo{left: auto;right: 0;}
.kefu-message-wrapper li.my .time{right: auto;left:30px;}
.message-create{position: absolute;bottom: 0;left: 0;height: 44px;overflow: hidden;background-color: #fff;padding:5px 10px;width: 100%;box-sizing: border-box;}
.message-create .input-box{box-sizing: border-box;margin-right:80px;height: 35px;}
.message-create .input-box input{box-sizing: border-box;background: #FAFBFC; background-image: linear-gradient(-180deg, rgba(244,244,244,0.50) 0%, rgba(240,240,240,0.50) 100%); border-radius: 3px;border: none;outline: none;width: 100%;height:100%;line-height: 34px;padding: 0 5px;}
.message-create button{position: absolute;right:10px;top:5px;width: 70px;height: 34px;line-height: 36px;}
/* 个人中心-底部图标 */
#hui-footer a{text-align: center;}
#hui-footer .hui-footer-icons{width: 20px;height: 20px;background-position: center center;background-repeat: no-repeat;display: inline-block;background-size: contain;}
#hui-footer .hui-icons-home{background-image: url(../images/home.png)}
#hui-footer .hui-icons-kecheng{background-image: url(../images/kecheng.png)}
#hui-footer .hui-icons-my{background-image: url(../images/user.png)}
#hui-footer a:hover .hui-icons-home,#hui-footer a.active .hui-icons-home{background-image: url(../images/home_active.png)}
#hui-footer a:hover .hui-icons-kecheng,#hui-footer a.active .hui-icons-kecheng{background-image: url(../images/kecheng_active.png)}
#hui-footer a:hover .hui-icons-my,#hui-footer a.active .hui-icons-my{background-image: url(../images/user_active.png)}

/* 个人中心--我的消息 */
.my-message{padding: 0;}
.my-message li{border-bottom: none;background-color: #fff;padding: 0 15px;margin-top: 10px;box-sizing: border-box;}
.my-message .hui-arrow:after{right: 15px;}
.my-xieyi{margin-top: 10px;}
.my-xieyi ul li{line-height: 22px;white-space: normal;margin: 0;margin-bottom: 5px;}
.my-xieyi ul li a{line-height: 22px !important;white-space: normal;}
.my-xieyi ul li .text-ellsips-2{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;margin: 3px auto;margin-right: 32%;height: 44px;font-size: 14px;}
.my-xieyi ul li .status{position: absolute;right: 40px;top: 0;text-align: right;display: block;line-height: 50px;font-size: 13px;}

/***************************************** 支付流程 **********************************/

/* 支付流程 */
.hui-pay-wrap li{background-color: #fff;line-height: 28px;padding:10px 15px;box-sizing: border-box;overflow: hidden;font-size: 16px;height: 48px;margin-bottom:2px;}
.hui-pay-wrap li:last-child{margin-bottom: 0;}
.hui-pay-wrap li .title{margin-right: 25%;display: block;white-space: nowrap;word-break:break-all;overflow: hidden;text-overflow:ellipsis;color:#666666;line-height: 24px;}
.hui-pay-wrap li .right-box{position:absolute;right: 15px;top: 10px;width: 20%;text-align: right;color:#333333;line-height: 24px;}
.hui-pay-wrap a{font-size: 14px;color:#6d6d6d;}
.hui-pay-wrap .hui-arrow:after{right: 15px;}
.hui-pay-wrap .hui-pay{color:#343434;padding-left: 32px;padding-right: 32px;line-height: 28px;display: block;}
.hui-pay-wrap .hui-pay:before,.hui-pay-wrap .hui-pay:after,.hui-pay-wrap .hui-yhstyle:after{content:"";display:block;position: absolute;background-position: center center;background-repeat: no-repeat;
background-size:cover;}
.hui-pay-wrap .hui-pay:before{width: 22px;height: 22px;left: 15px;top: 13px;}
.hui-pay-wrap .hui-pay:after,.hui-pay-wrap .hui-yhstyle:after{width: 18px;height: 18px;right: 15px;top: 15px;background-image:url(../images/wxz_icon.png);}
.hui-pay-wrap li.active .hui-pay:after,.hui-pay-wrap .hui-yhstyle:after{background-image:url(../images/xz_icon.png);}
.hui-pay-wrap .hui-wx-pay:before{background-image:url(../images/wx_pay.png);}
.hui-pay-wrap .hui-zfb-pay:before{background-image:url(../images/zfb_pay.png);}
.hui-pay-wrap .hui-yhstyle{color:#ff0000;padding-left: 0;}
.hui-pay-wrap .hui-yhstyle:before{display: none;}
.hui-pay-wrap input{display: inline-block;text-align:right;color:#999999;line-height: 30px;}
.hui-pay-wrap .hui-has-right span{margin-right: 20px;font-size: 14px;line-height:30px;display: inline-block;height: 30px;vertical-align: top;}
.hui-btn-group{padding: 0 10px;}
/* 收货地址 */
.hui-address-form h1{height: 35px;overflow: hidden;padding:0px 15px;line-height: 25px;font-size: 16px;font-weight: 600;}
.hui-address-form .hui-input-group{background-color: #fff;}
.hui-address-form .hui-input-group .hui-form-item{height: 50px;position:relative;margin-left: 15px;border-bottom: 1px solid #fafaf9;}
.hui-address-form .hui-input-group .hui-form-item:last-child{border-bottom: none;}
.hui-input-group label{position: absolute;top: 0;left: 0;width: 80px;font-size: 14px;line-height: 50px;color:#636363;}
.hui-input-group label span{display: inline-block;width: 65px;vertical-align: top;float: left;}
.hui-input-group .input-box{margin-left: 85px;margin-right:10px;}
.hui-input-group .input-box button{margin-top: 5px;width: 100%;box-sizing: border-box;background: none;border: none;box-shadow: none;font-size: 14px;color:#636363;text-align: left;padding:0px 10px;}
.hui-input-group .input-box button span{margin-right: 23px;font-size: 14px;}
.hui-input-group .hui-input-css{width: 100%;box-sizing: border-box;height: 50px;padding: 10px;border:none;outline: none;color:#adadad;font-size: 14px;}
.hui-input-group .hui-arrow:after{right: 15px;}
/*************************************** 搜索页 ******************************/

#hui-header-sreach{height:32px; padding:0px !important; line-height:32px; position:absolute; z-index:21; left:15px; top:6px;right: 15px;color:#999999;}
#hui-header-sreach input{width:82%; height:32px !important; line-height:33px !important; margin:0px !important; -webkit-appearance:none; -moz-appearance:none; appearance:none; border-radius:5px; border:0; background:#EFF3F6; font-size:13px; text-indent:30px;float: left;}
#hui-header-sreach a.qvxiao{display:block;line-height: 32px;width: 16%;text-align: center;font-size: 18px;color:#6d6d6d;float: right;}
#hui-header-sreach::after{font-family:"hui-font"; content:'\e714'; display:block; position:absolute; z-index:22; width:28px height:32px; left:5px; top:0;}
#hui-hot-sreach{padding:10px 15px;}
#hui-hot-sreach-title{line-height:35px; font-size:15px; font-weight:500;color:#333333;}
#hui-hot-sreach-keys{margin-top:10px;}
#hui-hot-sreach-keys a{display:block; border-radius:5px; float:left; margin:0 10px 10px 0px; padding:6px 10px; line-height:20px; font-size:13px; background:#ffffff;color:#656565;}
